<div class="container">
    <h1 class="text-center">hello</h1>
    <button class="btn btn-outline-danger">click me</button>
    <p class="text-center text-primary font-weight-bold">this is my weblog wellccoommmmeee</p>
</div>
